<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DAL.MySettings>
            <setting name="ConStr" serializeAs="String">
                <value>Data Source= HQ-ITB-AMOSES; Initial Catalog=WorkShopDB;Integrated Security=true</value>
            </setting>
        </DAL.MySettings>
    </applicationSettings>
</configuration>